<p>edit-student-by-id works!</p>


<form #edit="ngForm" (ngSubmit)="editStudent(edit.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" name="Name" ngModel>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="text" class="form-control"  name="Email" ngModel>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
